aiohttp==3.9.5
async-timeout==3.0.1
attrs==20.3.0
certifi==2024.7.4
chardet==3.0.4
dapr==1.1.0
fire==0.4.0
grpcio==1.64.1
idna==3.7
multidict==5.1.0
protobuf==3.18.3
python-dateutil==2.8.1
requests==2.32.3
six==1.15.0
termcolor==1.1.0
typing-extensions==3.7.4.3
urllib3==2.2.2
yarl==1.6.3
